@mixin transform($transform){
    transform:$transform;
    -ms-transform:$transform; 	/* IE 9 */
    -moz-transform:$transform; 	/* Firefox */
    -webkit-transform:$transform; /* Safari 和 Chrome */
    -o-transform:$transform; 	/* Opera */
}